{% extends "layout_fullwidth-v2.html" %}

{% block headerContent %}

<button data-module="govuk-button"  type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
  aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Regulatory action
{% endblock %}

{% block headerInfo %}
<section class="gc-product-page gc-product-page--header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-!-padding-bottom-2">
            <div class="gc-tag alpha-tag">ALPHA</div> This is new, <a href="/feedback" class="govuk-link"  target="_Blank">give us
                feedback</a>.
        </div>
  
  </div>
</section>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Regulatory actions</h1>
    <p class="govuk-body">This is a prototype for the management and administration of sanctions and actions.</p>

    <a href="/{{version}}/sanctions/internal/dashboard" class="govuk-button" role="button">Access the prototype</a>
    

  </div>
</div>



{% endblock %}