{% extends "layout_fullwidth.html" %}

{% set olDetail = result.registerData.recordset[0] %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}


{% block headerInfo %}
{% include "includes/beta.html" %}
{% endblock %}

{% block pageTitle %}
{{olDetail.Account}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/hub">All registers</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/summary">Gambling business register</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/results">Search results</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            Detail
        </li>
    </ol>
</div>

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">




        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
            {{olDetail.Account }}
        </h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                    Account number
                </h2>
                <p class="govuk-body"> {{olDetail.AccountNo }}</p>

                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                        Alternative dispute resolution provider
                    </h2>
                    
                    <p class="govuk-body"> {{adrdata[0].AssociatedAccountName }}</p>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                    Head office address
                </h2>
                {% if olDetail.towncity === null or olDetail.postcode === null %}
                <p class="govuk-body">Address not available</p>
                {% else %}

                <address class="govuk-body">

                    {{olDetail.propertyname}}<br>

                    {% if olDetail.street !== null %} {{olDetail.street}},{% endif %}

                    {{olDetail.towncity | capitalize}}, {{olDetail.postcode | upper}}


                </address>
                {% endif %}
            </div>
        </div>



        <hr class="govuk-section-break govuk-section-break--visible gc-break govuk-!-margin-bottom-7">

    </div>

    <div class="govuk-grid-column-one-quarter">

        <!-- <ul class="gc-register-tabs">
            <li class="selected"><a href="">Summary</a></li>
            <li><a href="">Trading names</a></li>
            <li><a href="">Domain names</a></li>
            <li><a href="">Regulatory action</a></li>
            <li><a href="">People</a></li>
            <li><a href="">Premises</a></li>
        </ul> -->

        <nav class="app-subnav">

            <ul class="app-subnav__section">

                <li class="app-subnav__section-item  app-subnav__section-item--current">
                    <a class="app-subnav__link govuk-link"
                        href="/{{version}}/operator/detail/{{olDetail.AccountNo}}">Licence summary</a>
                </li>

                <li class="app-subnav__section-item ">
                    <span class="gc-pill">{{result.tradingNames.recordset.length}}</span>
                    <a class="app-subnav__link govuk-link"
                        href="/{{version}}/operator/tradingnames/{{olDetail.AccountNo}}">Trading names</a>
                </li>

                <li class="app-subnav__section-item">
                    <span class="gc-pill">{{result.domainNames.recordset.length}}</span>
                    <a class="app-subnav__link govuk-link"
                        href="/{{version}}/operator/domainnames/{{olDetail.AccountNo}}">Domain names</a>
                </li>

                <li class="app-subnav__section-item">
                    <span class="gc-pill">{{result.sanctions.recordset.length}}</span>
                    <a class="app-subnav__link govuk-link"
                        href="/{{version}}/operator/sanctions/{{olDetail.AccountNo}}">Sanctions</a>
                </li>

                <li class="app-subnav__section-item">
                    <span class="gc-pill">{{result.notes.recordset.length}}</span>
                    <a class="app-subnav__link govuk-link"
                        href="/{{version}}/operator/settlements/{{olDetail.AccountNo}}">Settlements</a>
                </li>

                {% if result.premises.recordset.length > 0 and premisesEnabled === 'true' %}
                <li class="app-subnav__section-item">
                    <span class="gc-pill">{{result.premises.recordset.length | numeral("0,0") }}</span>
                    <a class="app-subnav__link govuk-link"
                        href="/{{version}}/operator/premises/{{olDetail.AccountNo}}">Premises</a>
                </li>
                {% endif %}

            </ul>

        </nav>

        {% if EnableCH === 'true' %}
        <h2 class="govuk-heading-s">Companies House</h2>

        <nav class="app-subnav">

            <ul class="app-subnav__section">

                <li class="app-subnav__section-item">
                    <a class="app-subnav__link govuk-link" href="/{{version}}/operator/company-summary/{{olDetail.AccountNo}}">Summary</a>
                </li>
             
                <li class="app-subnav__section-item">
                    <a class="app-subnav__link govuk-link" href="/{{version}}/operator/company/{{olDetail.AccountNo}}">People</a>
                </li>
            


            </ul>

        </nav>    
        {% endif %}

    </div>

    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m">
                    Licence summary
                </h2>



                {% if result.newLicenceInfo.recordset.length === 0 %}
                <div class="govuk-inset-text">
                    Licence information is not yet available as the application for an operating licence
                    is being processed.
                </div>
                {% endif %}




                <!--    Option 1        -->
                {% if detailView === '1' %}

                {% for licence in result.newLicenceInfo.recordset %}

                <div class="gc-search-result">
                    <span class="govuk-tag {{licence.Status | lower}} gc-pull-right">
                        {{licence.Status}}
                    </span>

                    <span class="govuk-caption-s">{{licence.LicenceNo}}</span>
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> {{ licence.Type }}</h3>

                    <details class="govuk-details govuk-!-margin-bottom-0">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Activites
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                            <table class="govuk-table">

                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col">Activity</th>
                                        <th class="govuk-table__header govuk-table__header--numeric gc-text-right"
                                            scope="col">Held from</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body govuk-body-s">
                                    {% for act in result.datedactivities.recordset %}

                                    {% if licence.Type == 'Remote' %}

                                    {% if '- R' in act.Product %}
                                    {% if act.MaxofEnd | date('DD MMM YYYY') === '31 Dec 3000' %}
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row">
                                            {{act.Product | replace("- R", "") |replace("- N", "") | replace("- A", "") }}
                                        </th>
                                        <td class="govuk-table__cell govuk-table__cell--numeric  gc-text-right">
                                            <div class="">{{act.MinofStart | date('DD MMM YYYY')}}</div>
                                        </td>

                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}

                                    {% if licence.Type == 'Non-Remote' %}

                                    {% if '- N' in act.Product %}
                                    {% if act.MaxofEnd | date('DD MMM YYYY') === '31 Dec 3000' %}
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row">
                                            {{act.Product | replace("- R", "") |replace("- N", "") | replace("- A", "") }}
                                        </th>
                                        <td class="govuk-table__cell govuk-table__cell--numeric  gc-text-right">
                                            <div class="">{{act.MinofStart | date('DD MMM YYYY')}}</div>
                                        </td>

                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}

                                    {% if licence.Type == 'Ancillary Remote' %}

                                    {% if '- A' in act.Product %}
                                    {% if act.MaxofEnd | date('DD MMM YYYY') === '31 Dec 3000' %}
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row">
                                            {{act.Product | replace("- R", "") |replace("- N", "") | replace("- A", "") }}
                                        </th>
                                        <td class="govuk-table__cell govuk-table__cell--numeric  gc-text-right">
                                            <div class="">{{act.MinofStart | date('DD MMM YYYY')}}</div>
                                        </td>

                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </details>

                </div>

                {% endfor %}

                {% endif %}

                <!--   END Option 1        -->


                <!--    Option 2        -->
                {% if detailView === '2' %}
                {% for licence in result.newLicenceInfo.recordset %}
                <div class="govuk-inset-text govuk-!-margin-top-0">


                    <div class="gc-search-result gc-search-result--header">
                        <span class="govuk-tag {{licence.Status | lower}} gc-pull-right">
                            {{licence.Status}}
                        </span>

                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                            {{ licence.Type }}</h2>
                        <p class="govuk-!-margin-bottom-2 govuk-body-s">Licence number: {{licence.LicenceNo}}</p>

                        <details class="govuk-details govuk-!-margin-bottom-1">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    What is a {{ licence.Type | lower}} licence?
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                Information about the licence type
                            </div>
                        </details>

                    </div>
                    {% if licence.Status === 'Active' %}
                    <table class="govuk-table">

                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row govuk-body-s">
                                <th class="govuk-table__header" scope="col">Licensed for</th>
                                <th class="govuk-table__header govuk-table__header--numeric  gc-text-right" scope="col">
                                    From</th>
                            </tr>
                        </thead>



                        <tbody class="govuk-table__body  govuk-body-s">
                            {% for act in result.datedactivities.recordset %}

                            {% if licence.Type == 'Remote' %}

                            {% if '- R' in act.Product %}
                            {% if act.MaxofEnd | date('DD MMM YYYY') === '31 Dec 3000' %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">

                                    {% set product =  act.Product | replace("- R", "") |replace("- N", "") | replace("- A", "") %}

                                    {% if product === 'Bingo ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Remote-bingo-operating-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Betting Intermediary ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Remote-betting-intermediary-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Pool Betting ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Remote-pool-betting-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'General Betting Standard - Virtual Event ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Remote-general-betting-standard-virtual-events-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'General Betting Standard eal Event ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Remote-general-betting-standard-real-events-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Gambling Software ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Remote-gambling-software-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Gaming Machine Technical Software ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Remote-gaming-machine-technical-software-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Casino ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Remote-casino-operating-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Gaming Machine Technical Full ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-gaming-machine-technical-full-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Linked Gambling Software ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Linked-licences-gambling-software.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}


                                    {% if product === 'Linked Gaming Machine Technical Supplier ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Remote-gaming-machine-technical-supplier-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}






                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric gc-text-right">
                                    <div class="">{{act.MinofStart | date('DD MMM YYYY')}}</div>
                                </td>

                            </tr>
                            {% endif %}
                            {% endif %}
                            {% endif %}

                            {% if licence.Type == 'Non-Remote' %}

                            {% if '- N' in act.Product %}
                            {% if act.MaxofEnd | date('DD MMM YYYY') === '31 Dec 3000' %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">
                                    {% set product =  act.Product | replace("- R", "") |replace("- N", "") | replace("- A", "") %}


                                    {% if product === 'Gambling Software ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-gambling-software-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'General Betting Standard ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-general-betting-standard-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Pool Betting ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-pool-betting-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'External Lottery Manager ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-external-lottery-manager-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Gaming Machine General Adult Gaming Centre ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Adult-gaming-centre.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Casino 1968 Act ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-1968-Act-casino-operating-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Bingo ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-bingo-operating-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Linked Gambling Software ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Linked-licences-gambling-software.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Casino 2005 Act ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/non-remote-2005-Act-casino-operating-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Gaming Machine Technical Full ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-gaming-machine-technical-full-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Gaming Machine Technical Supplier ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-gaming-machine-technical-supplier-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}
                                    {% if product === 'Linked Gaming Machine Technical Supplier ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-gaming-machine-technical-supplier-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}



                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric gc-text-right">
                                    <div class="">{{act.MinofStart | date('DD MMM YYYY')}}</div>
                                </td>

                            </tr>
                            {% endif %}
                            {% endif %}
                            {% endif %}

                            {% if licence.Type == 'Ancillary Remote' %}
                            {% if '- A' in act.Product %}
                            {% if act.MaxofEnd | date('DD MMM YYYY') === '31 Dec 3000' %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">
                                    {% set product =  act.Product | replace("- R", "") |replace("- N", "") | replace("- A", "") %}

                                    {% if product === 'Gambling Software ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-gambling-software-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'General Betting Standard ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-general-betting-standard-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Pool Betting ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-pool-betting-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'External Lottery Manager ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-external-lottery-manager-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Gaming Machine General Adult Gaming Centre ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Adult-gaming-centre.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}


                                    {% if product === 'Gaming Machine General Family Entertainment Centre ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Family-Entertainment-centre.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Casino ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-1968-Act-casino-operating-licence.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                    {% if product === 'Bingo ' %}
                                    <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Operating-licences/Non-remote-bingo-operating-licence.aspx.aspx"
                                        target="_Blank">{{product}}</a>
                                    {% endif %}

                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric gc-text-right">
                                    <div class="">{{act.MinofStart | date('DD MMM YYYY')}}</div>
                                </td>

                            </tr>
                            {% endif %}
                            {% endif %}
                            {% endif %}

                            {% endfor %}
                        </tbody>

                    </table>
                    {% else %}
                    <p>Licence acitivities no longer held</p>
                    {% endif %}
                </div>
                {% endfor %}

                {% endif %}
                <!--   END Option 2        -->

            </div>
        </div>
    </div>
</div>

{% include "includes/page-footer.html" %}




{% endblock %}