{% extends "layout_fullwidth.html" %}

{% set olDetail = result.registerData.recordset[0] %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}


{% block headerInfo %}
{% include "includes/beta.html" %}
{% endblock %}

{% block pageTitle %}
A - {{olDetail.Account}}
{% endblock %}

{% block beforeContent %}


{% if data['ab'] === 'B' %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/hub">All registers</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/summary">Gambling business register</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/results">Search results</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            Detail
        </li>
    </ol>
</div>
{% else %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/hub">All registers</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/summary">Gambling business register </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/results">Search results</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            Detail
        </li>
    </ol>
</div>
{% endif %}




<div class="govuk-breadcrumbs content-mobile">
    <a href="/{{version}}/operator/results" class="govuk-back-link">Back to search results</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            {{olDetail.Account }}
        </h1>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                    Account number
                </h2>
                <p class="govuk-body">{{olDetail.AccountNo}}</p>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                    Head office address
                </h2>
                <address class="govuk-body">

                    {{olDetail.propertyname}}<br />

                    {% if olDetail.street !== null %}
                    {{olDetail.street}} <br />
                    {% endif %}

                    {{olDetail.towncity | capitalize}}<br /> {{olDetail.postcode | upper}}


                </address>
            </div>
        </div>
    </div>


    <div class="govuk-grid-column-full">



        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-tabs" data-module="tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>

                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
                                Licences
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#past-week">
                                Trading names ({{result.tradingNames.recordset.length}})
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#past-month">
                                Domain names ({{result.domainNames.recordset.length}})
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#past-year">
                                Regulatory actions ({{result.sanctions.recordset.length}})
                            </a>
                        </li>

                        {% if feCHData.items.length > 0 %}
                        <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#chData">
                                   CH Data
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <section class="govuk-tabs__panel" id="past-day">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Licences</h2>


                                {% if result.newLicenceInfo.recordset.length === 0 %}
                                <div class="govuk-inset-text">
                                        Licence information is not yet available as the application for an operating licence is being processed.
                                      </div>
                                {% endif %}
                                

                                {% for licence in result.newLicenceInfo.recordset %}


                                <div class="gc-search-result">
                                    <span class="govuk-tag {{licence.Status | lower}} gc-pull-right">
                                        {{licence.Status}}
                                    </span>

                                    <span class="govuk-caption-s">{{licence.LicenceNo}}</span>
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> {{ licence.Type }}</h3>

                                    {% if licence.End !== null %}

                                    <p class="govuk-body">Licence held between {{licence.Start | date('DD MMMM YYYY')}}
                                        and {{licence.End | date('DD MMMM YYYY')}}</p>

                                    <details class="govuk-details govuk-!-margin-bottom-0">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                Activities held on this licence
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <ul class="govuk-list">

                                                {% for item in result.newLicenceActivityInfo.recordset %}

                                                {% if item.licenceid === licence.LicenceId %}
                                                <li class="govuk-body-s">{{item.Product | replace(" - R", "") |replace("- N", "") | replace("- A", "") }}</li>
                                                {% endif %}


                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </details>

                                    {% else %}
                                    <p class="govuk-body">Current licence held from
                                        {{licence.Start | date('DD MMMM YYYY')}}
                                    </p>
                                    <details class="govuk-details govuk-!-margin-bottom-0">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                Activities held on this licence
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <ul class="govuk-list">



                                                {% for item in result.newLicenceActivityInfo.recordset %}

                                                {% if item.licenceid === licence.LicenceId %}
                                                <li class="govuk-body-s">{{item.Product | replace(" - R", "") |replace("- N", "") | replace("- A", "") }}</li>
                                                {% endif %}


                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </details>


                                    {% endif %}


                                </div>

                                {% endfor %}







                                <!-- {% for RemoteStatus, Product in result.activities.recordset | groupby("RemoteStatus") %}

                                {% set type = Product[0].DeterminationStatus %}

                                <div class="gc-search-result">
                                    <span class="govuk-tag gc-pull-right">
                                        {{type}}
                                    </span>

                                    <h3 class="govuk-heading-m"> {{ RemoteStatus }}</h3>

                                    <p class="govuk-body">
                                        <ul class="govuk-list">

                                            {% for item in Product %}
                                            <li>{{ item.Product }}</li>
                                            {% endfor %}

                                        </ul>
                                    </p>

                                </div>

                                {% endfor %} -->
                            </div>
                            <div class="govuk-grid-column-one-third">
                                <aside class="app-related-items" role="complementary">
                                    <h2 class="govuk-heading-m" id="subsection-title">
                                        Related information
                                    </h2>
                                    <nav role="navigation" aria-labelledby="subsection-title">
                                        <ul class="govuk-list govuk-!-font-size-16">
                                            <li>
                                                <a class="govuk-link"
                                                    href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Types-of-operating-licence.aspx"
                                                    target="_Blank">
                                                    Licensed activity information
                                                </a>
                                            </li>
                                            <li>
                                                <a class="govuk-link"
                                                    href="http://www.gamblingcommission.gov.uk/for-gambling-businesses/Compliance/LCCP/Licence-conditions-and-codes-of-practice.aspx"
                                                    target="_Blank">
                                                    Licence conditions and codes of practice
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </aside>
                            </div>
                        </div>

                    </section>
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

                        <h3 class="govuk-heading-m">
                            Trading names
                        </h3>

                        {% if result.tradingNames.recordset.length === 0 %}

                        <p class="govuk-body">No trading names</p>
                        {% endif %}

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">

                                {% for status, i in result.tradingNames.recordset | groupby ('Status') %}

                                <table class="govuk-table">

                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header" scope="col">{{status}}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        {% for name in i %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell" scope="row">{{name.TradingName}}</td>
                                        </tr>
                                        {% endfor %}



                                    </tbody>
                                </table>


                                {% endfor %}

                            </div>
                        </div>

                    </section>
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">

                        <h3 class="govuk-heading-m">
                            Domain names
                        </h3>


                        {% if result.domainNames.recordset.length === 0 %}

                        <p class="govuk-body">No domain names</p>
                        {% endif %}

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">

                                {% for status, i in result.domainNames.recordset  | groupby ('AccountStatus') %}

                                <table class="govuk-table">

                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header" scope="col">{{status}}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        {% for name in i %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell" scope="row">{{name.DomainName | lower}}</td>
                                        </tr>
                                        {% endfor %}



                                    </tbody>
                                </table>


                                {% endfor %}

                            </div>
                        </div>

                    </section>
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-two-thirds">

                                <h3 class="govuk-heading-m">
                                    Sanctions
                                </h3>

                                {% if result.sanctions.recordset.length === 0 %}
                                <p class="govuk-body">None recorded</p>
                                {%endif%}

                                <div class="gc-reg-action govuk-body">
                                    {% for item in result.sanctions.recordset %}

                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                                                Decision
                                            </h2>
                                            <p class="govuk-body">{{item.status}}</p>
                                        </div>

                                        <div class="govuk-grid-column-one-half">
                                            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                                                Date of decision
                                            </h2>
                                            <p class="govuk-body">{{item.decidedon | date('DD MMMM YYYY')}}</p>
                                        </div>

                                    </div>
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                                        Outcome
                                    </h2>
                                    <p class="govuk-body">

                                        {{item.details | safe}}

                                        <hr
                                            class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                                    </p>

                                    {% endfor %}


                                </div>

                                <h2 class="govuk-heading-m govuk-!-margin-top-4">
                                    Other actions
                                </h2>
                                <p class="govuk-body">None recorded</p>
                            </div>

                            <div class="govuk-grid-column-one-third">
                                <aside class="app-related-items" role="complementary">
                                    <h2 class="govuk-heading-m" id="subsection-title">
                                        Related information
                                    </h2>
                                    <nav role="navigation" aria-labelledby="subsection-title">
                                        <ul class="govuk-list govuk-!-font-size-16">

                                            <li>
                                                <a class="govuk-link"
                                                    href="http://www.gamblingcommission.gov.uk/for-gambling-businesses/Compliance/LCCP/Licence-conditions-and-codes-of-practice.aspx"
                                                    target="_Blank">
                                                    Licence conditions and codes of practice
                                                </a>
                                            </li>

                                        </ul>
                                    </nav>
                                </aside>
                            </div>
                        </div>
                    </section>
{% if feCHData.items.length > 0 %}

<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="chData">

<h3 class="govuk-heading-m">Companies House information</h3>
<div class="govuk-grid-row">

<div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
           Company number
        </h2>
        <p class="govuk-body">05310821</p>
    </div>
</div>

<h3 class="govuk-heading-s">Officers</h3>

    {% for i in feCHData.items %}
   
   
    <div class="gc-search-result">
            <span class="govuk-tag gc-pull-right">
                {{i.officer_role}}
            </span>

          
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> <a href="https://beta.companieshouse.gov.uk{{i.links.officer.appointments}}" target="_Blank"> {{i.name}}</a>
               </h3>

           
            <p class="govuk-body">Appointed {{item.appointed_on | date('DD MMMM YYYY')}}
              </p>

                   

        </div>

    {% endfor %} 

    </section>

{% endif %}

                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}