{% extends "layout_fullwidth.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}


{% block headerInfo %}
{% include "includes/beta.html" %}
{% endblock %}

{% block pageTitle %}
A - {{registerData.Account}}
{% endblock %}

{% block beforeContent %}

    
{% if data['ab'] === 'B' %}
<div class="govuk-breadcrumbs content-desktop">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/hub">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/summary">Gambling businesses</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/results">Search results</a>
            </li>
        <li class="govuk-breadcrumbs__list-item">
            Detail
        </li>
    </ol>
</div>
{% else %}
<div class="govuk-breadcrumbs content-desktop">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/{{version}}/hub">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/summary">Operator register</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/{{version}}/hub/results">Search results</a>
                </li>
            <li class="govuk-breadcrumbs__list-item">
                Detail
            </li>
        </ol>
    </div>
{% endif %}

   
    
    
    <div class="govuk-breadcrumbs content-mobile">
            <a href="/{{version}}/operator/results" class="govuk-back-link">Back to search results</a>
        </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
           Account Data
        </h1>

        <table class="registers-secondary-table">
                <thead class="registers-secondary-table__head">
                    <tr class="registers-secondary-table__row">
                        <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Field</p>
                        </th>
                        <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Value</p>
                        </th>
                    </tr>
                </thead>
                <tbody class="registers-secondary-table__body">
{% for name, item in result.registerData.recordset[0] %}
                    <tr class="registers-secondary-table__row">
                        <td class="govuk-!-padding-0 registers-secondary-table__cell">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{name}}</p>
                        </td>
                        <td class="govuk-!-padding-0 registers-secondary-table__cell">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{item}}</p>
                        </td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>


                   <table class="registers-secondary-table">
                        <thead class="registers-secondary-table__head">
                            <tr class="registers-secondary-table__row">
                                <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                                    <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Field</p>
                                </th>
                                <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                                    <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Value</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="registers-secondary-table__body">

                   {% for item in result.tradingNames.recordset %}
                    <tr class="registers-secondary-table__row">
                        <td class="govuk-!-padding-0 registers-secondary-table__cell">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">TradingName</p>
                        </td>
                        <td class="govuk-!-padding-0 registers-secondary-table__cell">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{item.TradingName}}</p>
                        </td>
                    </tr>
                    <tr class="registers-secondary-table__row">
                            <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Status</p>
                            </td>
                            <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{item.Status}}</p>
                            </td>
                        </tr>
                   {% endfor %}
                </tbody>
            </table>
                   <table class="registers-secondary-table">
                        <thead class="registers-secondary-table__head">
                            <tr class="registers-secondary-table__row">
                                <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                                    <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Field</p>
                                </th>
                                <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                                    <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Value</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="registers-secondary-table__body">
                   {% for item in result.domainNames.recordset %}
                    <tr class="registers-secondary-table__row">
                        <td class="govuk-!-padding-0 registers-secondary-table__cell">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">DomainName</p>
                        </td>
                        <td class="govuk-!-padding-0 registers-secondary-table__cell">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{item.DomainName}}</p>
                        </td>
                    </tr>
                    <tr class="registers-secondary-table__row">
                            <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Status</p>
                            </td>
                            <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{item.AccountStatus}}</p>
                            </td>
                        </tr>
                   {% endfor %}
                </tbody>
            </table>
                   <table class="registers-secondary-table">
                        <thead class="registers-secondary-table__head">
                            <tr class="registers-secondary-table__row">
                                <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                                    <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Field</p>
                                </th>
                                <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                                    <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Value</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="registers-secondary-table__body">
                   {% for item in result.activities.recordset %}
                    <tr class="registers-secondary-table__row">
                        <td class="govuk-!-padding-0 registers-secondary-table__cell">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">RemoteStatus</p>
                        </td>
                        <td class="govuk-!-padding-0 registers-secondary-table__cell">
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{item.RemoteStatus}}</p>
                        </td>
                    </tr>
                    <tr class="registers-secondary-table__row">
                            <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">DeterminationStatus</p>
                            </td>
                            <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{item.DeterminationStatus}}</p>
                            </td>
                        </tr>
                        <tr class="registers-secondary-table__row">
                                <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                    <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Department</p>
                                </td>
                                <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                    <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{item.Department}}</p>
                                </td>
                            </tr>
                            <tr class="registers-secondary-table__row">
                                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Product</p>
                                    </td>
                                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">{{item.Product}}</p>
                                    </td>
                                </tr>
                   {% endfor %}
                </tbody>
            </table>

      
<pre><code> {{result | dump}}</code></pre>

    </div>

</div>


    {% endblock %}