{% extends "layout_fullwidth.html" %}

{% set olDetail = result.registerData.recordset[0] %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}


{% block headerInfo %}
{% include "includes/beta.html" %}
{% endblock %}

{% block pageTitle %}
{{olDetail.Account}}
{% endblock %}

{% block beforeContent %}


{% if data['ab'] === 'B' %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/hub">All registers</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/summary">Gambling businesses</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/results">Search results</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            Detail
        </li>
    </ol>
</div>
{% else %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/hub">All registers</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/operator/summary">Operator register</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/{{version}}/hub/results">Search results</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            Detail
        </li>
    </ol>
</div>
{% endif %}




<div class="govuk-breadcrumbs content-mobile">
    <a href="/{{version}}/operator/results" class="govuk-back-link">Back to search results</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            {{olDetail.Account}}
        </h1>
        <p class="govuk-body-l">Account {{olDetail.AccountNo}}</p>


        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">
                    Head office address
                </h2>

                <p class="govuk-body">
                    {{olDetail.propertyname}}, {{olDetail.towncity}}, {{olDetail.postcode}}
                </p>
            </div>
        </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                         <div class="govuk-tabs" data-module="tabs">
                    <h2 class="govuk-tabs__title">
                      Contents
                    </h2>
                  
                    <ul class="govuk-tabs__list">
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
                          Overview
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                          Trading names {{result.tradingNames.recordset.length}}
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-month">
                          Domain names {{result.domainNames.recordset.length}}
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-year">
                          Sanctions {{result.sanctions.recordset.length}}
                        </a>
                      </li>
                    </ul>
                  
                    <section class="govuk-tabs__panel" id="past-day">
                   
                     
                            <h3 class="govuk-heading-m">
                                Licenses
                            </h3>
            
                            <ul class="govuk-list">
                                {% for i in result.activities.recordset %}
            
                                <li>{{i.Product}}</li>
            
                                {% endfor %}
                            </ul>
            
                       
                    </section>
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                   
                            <h3 class="govuk-heading-m">
                                    Trading names
                                </h3>
                
                                <ul class="govuk-list">
                                    {% for i in result.tradingNames.recordset %}
                
                                    <li>{{i.TradingName}}</li>
                
                                    {% endfor %}
                                </ul>
                
                    </section>
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
                  
                            <h3 class="govuk-heading-m">
                                    Domain names
                                </h3>
                
                                <ul class="govuk-list">
                                    {% for i in result.domainNames.recordset %}
                
                                    <li>{{i.DomainName}}</li>
                
                                    {% endfor %}
                                </ul>
                  
                    </section>
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
                     
                  
                    </section>
                  </div>
                </div>
            </div>

       

        </div>



    </div>

</div>


{% endblock %}