{% extends "layout_fullwidth-v2.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Public registers - Gambling Commission
{% endblock %}

{% block headerInfo %}
{% include "includes/beta.html" %}
{% endblock %}


{% block beforeContent %}

<a href="/{{version}}/sanctions/summary" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <h2 class="govuk-heading-l">Use the API</h2>

        <p class="govuk-body">Get this register as JSON:</p>
<pre>
<code>http://example.com/register/regulatoryactions/records.json</code>
</pre>
       
<h3 class="govuk-heading-m govuk-!-margin-top-5">
        Register definition
      </h3>
        <p class="govuk-body">You can view details of the fields and descriptions on the <a class="govuk-link" href="/{{version}}/sanctions/summary">register summary</a> information page.</p>
    </div>

</div>



{% endblock %}