{% extends "layout_fullwidth-v2.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Register of regulatory sanctions
{% endblock %}

{% block headerInfo %}
{% include "includes/beta.html" %}
{% endblock %}

{% block beforeContent %}

<a href="/{{version}}/sanctions/summary" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <div class="gc-register-search gc-register-search--whitebg">
            <form method="POST" action="full">
                <label for="searchsan" class="govuk-label">
                    <h1 class="govuk-heading-l  govuk-!-margin-bottom-3">
                        Search the regulatory actions register
                    </h1>

                </label>
                <span class="govuk-hint">
                    Search by name or account number
                </span>
                <div class="inner-form govuk-!-margin-bottom-3">
                    <div class="input-field second-wrap">
                        <input id="searchsan" name="searchsan" type="text" placeholder="Search"
                            value="{{ data['searchsan'] }}" />
                    </div>
                    <div class="input-field third-wrap">
                        <button class="btn-search" type="submit"><span class="govuk-visually-hidden">Search the
                                register</span>
                            <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                                data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </div>
    <div class="govuk-grid-column-full">


        <div class="govuk-tabs" data-module="tabs">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>

            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#sanctions">
                        Sanctions ({{result.allSanctions.recordset.length}})
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#settlements">
                        Settlements ({{result.allSettlements.recordset.length}})
                    </a>
                </li>
            </ul>

            <section class="govuk-tabs__panel" id="sanctions">
                <div class="govuk-grid-row">
                    {% if result.allSanctions.recordset.length > 0%}
                    <div class="govuk-grid-column-one-third">


                        <form method="POST" action="full">


                            <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Filter the results
                                    </span>
                                </summary>
                                <div class="govuk-details__text">



                                    <div class="gc-filters">

                                        <h2 class="govuk-heading-m">Filters</h2>


                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                    <h3 class="govuk-fieldset__heading">
                                                        Licensee type
                                                    </h3>
                                                </legend>
                                                <div class="govuk-checkboxes govuk-checkboxes--small">


                                                    {% set ord = 0 %}

                                                    {% for remotestatus, i in result.allSanctions.recordset |sort(false, true, 'remotestatus') | groupby('remotestatus') %}

                                                    <div class="govuk-checkboxes__item"> <span
                                                            class="gc-pill gc-pull-right">{{i.length | numeral("0,0") }}</span>
                                                        <input class="govuk-checkboxes__input" id="remotestatus-{{ord}}"
                                                            name="remotestatus" type="checkbox"
                                                            value="{{remotestatus}}">
                                                        <label class="govuk-label govuk-checkboxes__label"
                                                            for="remotestatus-{{ord}}">

                                                            {{remotestatus | truncate(20)}}
                                                        </label> </div>

                                                    {% set ord = (ord + 1) %}

                                                    {% endfor %}


                                                </div>
                                            </fieldset>
                                        </div>

                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                    <h3 class="govuk-fieldset__heading">
                                                        Sanction type
                                                    </h3>
                                                </legend>
                                                <div class="govuk-checkboxes govuk-checkboxes--small">


                                                    {% set ord = 0 %}

                                                    {% for status, i in result.allSanctions.recordset |sort(false, true, 'status') | groupby('status') %}

                                                    <div class="govuk-checkboxes__item"> <span
                                                            class="gc-pill gc-pull-right">{{i.length | numeral("0,0") }}</span>
                                                        <input class="govuk-checkboxes__input" id="status-{{ord}}"
                                                            name="status" type="checkbox" value="{{status}}">
                                                        <label class="govuk-label govuk-checkboxes__label"
                                                            for="status-{{ord}}">

                                                            {{status | truncate(20)}}
                                                        </label> </div>

                                                    {% set ord = (ord + 1) %}

                                                    {% endfor %}


                                                </div>
                                            </fieldset>
                                        </div>

                                        <button type="submit" class="govuk-button">
                                            Apply filters
                                        </button>

                                    </div>

                                </div>
                            </details>
                        </form>
                    </div>
                    {%endif%}
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">
                            Sanctions
                        </h2>

                        <div class="govuk-!-margin-top-6"></div>
                        {% if result.allSanctions.recordset.length > 0%}
                        {% for i in result.allSanctions.recordset %}

                        <div class="gc-search-result">

                            <ul class="gc-search-result--tag gc-pull-right">
                                <li>{{i.remotestatus}}</li>
                            </ul>

                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                                {% if i.remotestatus === 'Operator' %}
                                <a href="/{{version}}/{{i.remotestatus}}/sanctions/{{i.AccountNo}}">
                                    {{i.account}}</a>
                                {% else %}
                                <a href="/{{version}}/{{i.remotestatus}}/sanctions/{{i.AccountNo}}">
                                    {{i.Applicantfirstname}} {{i.Applicantsurname | upper}} </a>
                                {% endif %}

                            </h3>

                            <p class="govuk-body-s govuk-!-margin-bottom-2">Decision date
                                {{i.decidedon | date('DD MMMM YYYY')}}
                            </p>
                            <span class="govuk-tag">{{i.status}}</span>
                        </div>

                        {% endfor %}
                        {%else%}

                        <p class="govuk-body">No results found for <span
                                class="govuk-!-font-weight-bold">"{{data['searchsan']}}"</span> in the sanctions register
                        </p>
                        <p class="govuk-body">You can search the register using business or individual name or account
                            number.</p>
                        {%endif%}
                    </div>

            </section>
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="settlements">
                <div class="govuk-grid-row"> {% if result.allSettlements.recordset.length > 0%}

                    <div class="govuk-grid-column-one-third">


                        <form method="POST" action="full">


                            <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Filter the results
                                    </span>
                                </summary>
                                <div class="govuk-details__text">

                                    <div class="gc-filters">

                                        <h2 class="govuk-heading-m">Filters</h2>

                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                    <h3 class="govuk-fieldset__heading">
                                                        Licensee type
                                                    </h3>
                                                </legend>
                                                <div class="govuk-checkboxes govuk-checkboxes--small">


                                                    {% set ord = 0 %}

                                                    {% for remotestatus, i in result.allSettlements.recordset |sort(false, true, 'remotestatus') | groupby('remotestatus') %}

                                                    <div class="govuk-checkboxes__item"> <span
                                                            class="gc-pill gc-pull-right">{{i.length | numeral("0,0") }}</span>
                                                        <input class="govuk-checkboxes__input"
                                                            id="sremotestatus-{{ord}}" name="sremotestatus"
                                                            type="checkbox" value="{{remotestatus}}">
                                                        <label class="govuk-label govuk-checkboxes__label"
                                                            for="sremotestatus-{{ord}}">

                                                            {{remotestatus | truncate(20)}}
                                                        </label> </div>

                                                    {% set ord = (ord + 1) %}

                                                    {% endfor %}


                                                </div>
                                            </fieldset>
                                        </div>

                                        <button type="submit" class="govuk-button">
                                            Apply filters
                                        </button>

                                    </div>

                                </div>
                            </details>
                        </form>
                    </div>
                    {%endif%}
                    <div class="govuk-grid-column-two-thirds">

                        <h2 class="govuk-heading-m">
                            Settlements
                        </h2>

                        <div class="govuk-!-margin-top-6"></div>
                        {% if result.allSettlements.recordset.length > 0%}
                        {% for i in result.allSettlements.recordset %}

                        <div class="gc-search-result">

                            <ul class="gc-search-result--tag gc-pull-right">
                                <li>{{i.remotestatus}}</li>
                            </ul>

                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                                {% if i.remotestatus === 'Operator' %}
                                <a href="/{{version}}/{{i.remotestatus}}/settlements/{{i.AccountNo}}">
                                    {{i.account}}</a>
                                {% else %}
                                <a href="/{{version}}/{{i.remotestatus}}/settlements/{{i.AccountNo}}">
                                    {{i.Applicantfirstname}} {{i.Applicantsurname | upper}} </a>
                                {% endif %}

                            </h3>

                            <p class="govuk-body-s govuk-!-margin-bottom-2">Publication date
                                {{i.decidedon | date('DD MMMM YYYY')}}</p>

                        </div>

                        {% endfor %}
                        {%else%}

                        <p class="govuk-body">No results found for <span
                                class="govuk-!-font-weight-bold">"{{data['search']}}"</span> in the settlements register
                        </p>
                        <p class="govuk-body">You can search the register using business or individual name or account
                            number.</p>
                        {%endif%}
                    </div>
                </div>
            </section>

        </div>



    </div>
</div>

{% endblock %}