{% extends "admin_layout_int.html" %}
{% extends "layout_fullwidth_internal.html" %}
{% block pageTitle %}
Registers Prototypes
{% endblock %}

{% block beforeContent %}
<a href="/{{version}}/sanctions/internal/dashboard" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
<div class="gc-pull-right"><a href="/{{version}}/sanctions/internal/view/settlements">View settlements</a></div>
     
                   <h1 class="govuk-heading-l">Sanctions register</h1>


<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#live">
       Live ({{ result.allSanctions.recordset.length}})
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#archive">
        Archive
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="live">


      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
              <form method="POST" action="results">
                  <div class="gc-filters">
      
                      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Filter</h2>
      
                      <div class="govuk-accordion" data-module="accordion" id="accordion-default">
      
                          <div class="govuk-accordion__section ">
                              <div class="govuk-accordion__section-header">
                                  <h2 class="govuk-accordion__section-heading">
                                      <span class="govuk-accordion__section-button" id="accordionSector">
                                          Licensee type
                                      </span>
                                  </h2>
                              </div>
                              <div id="accordionSectorContent" class="govuk-accordion__section-content"
                                  aria-labelledby="accordionSector">
                                  <div class="govuk-form-group">
                                      <fieldset class="govuk-fieldset">
      
                                          <div class="govuk-checkboxes govuk-checkboxes--small">
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="sector-1" name="sector"
                                                      type="checkbox" value="Arcades">
                                                  <label class="govuk-label govuk-checkboxes__label" for="sector-1">
                                                      Operator
                                                  </label> </div>
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="sector-2" name="sector"
                                                      type="checkbox" value="Betting">
                                                  <label class="govuk-label govuk-checkboxes__label" for="sector-2">
                                                      Personal
                                                  </label> </div>                                           
                                          
                                             
                                          </div>
                                      </fieldset>
                                  </div>
                              </div>
                          </div>
      
                          <div class="govuk-accordion__section ">
                              <div class="govuk-accordion__section-header">
                                  <h2 class="govuk-accordion__section-heading">
                                      <span class="govuk-accordion__section-button" id="accordionStatus">
                                          Sanction outcome
                                      </span>
                                  </h2>
                              </div>
                              <div id="accordionStatusContent" class="govuk-accordion__section-content"
                                  aria-labelledby="accordionStatus">
                                  <div class="govuk-form-group">
                                      <fieldset class="govuk-fieldset">
      
                                          <div class="govuk-checkboxes govuk-checkboxes--small">
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="status-1" name="status"
                                                      type="checkbox" value="Active">
                                                  <label class="govuk-label govuk-checkboxes__label" for="status-1">
                                                      Conditions attached
                                                  </label> </div>
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="status-2" name="status"
                                                      type="checkbox" value="Expired">
                                                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                                                      Financial penalty
                                                  </label> </div>
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="status-3" name="status"
                                                      type="checkbox" value="Forfeited">
                                                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                                                      Revoked
                                                  </label> </div>
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="status-4" name="status"
                                                      type="checkbox" value="Lapsed">
                                                  <label class="govuk-label govuk-checkboxes__label" for="status-4">
                                                      Revoked - Stayed
                                                  </label> </div>
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="status-5" name="status"
                                                      type="checkbox" value="Revoked">
                                                  <label class=" govuk-label govuk-checkboxes__label" for="status-5">
                                                      Terminated
                                                  </label> </div>
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="status-6" name="status"
                                                      type="checkbox" value="Surrendered">
                                                  <label class="govuk-label govuk-checkboxes__label" for="status-6">
                                                      Warning
                                                  </label> </div>
                                             
      
                                          </div>
                                      </fieldset>
                                  </div>
                              </div>
                          </div>
      
      
                          <!-- <div class="govuk-accordion__section ">
                              <div class="govuk-accordion__section-header">
                                  <h2 class="govuk-accordion__section-heading">
                                      <span class="govuk-accordion__section-button" id="accordionStatus">
                                          Account status
                                      </span>
                                  </h2>
                              </div>
                              <div id="accordionStatusContent" class="govuk-accordion__section-content"
                                  aria-labelledby="accordionStatus">
                                  <div class="govuk-form-group">
                                      <fieldset class="govuk-fieldset">
      
                                          <div class="govuk-checkboxes govuk-checkboxes--small">
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="status-1" name="status"
                                                      type="checkbox" value="Granted" {{ checked("status", "Granted") }}>
                                                  <label class="govuk-label govuk-checkboxes__label" for="status-1">
                                                      Active
                                                  </label> </div>
      
                                              <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="status-7" name="status"
                                                      type="checkbox" value="Pending" {{ checked("status", "Pending") }}>
                                                  <label class="govuk-label govuk-checkboxes__label" for="status-7">
                                                      Pending
                                                  </label> </div>
      
                                          </div>
                                      </fieldset>
                                  </div>
                              </div>
                          </div> -->
      
      
                      </div>
                      <button type="submit" class="govuk-button">
                          Apply filter
                      </button>
      
      
                   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
       <a href="/public/sanctions.odt" class="govuk-button govuk-button--secondary" role="button">Export all</a> 
          <a href="/{{version}}/sanctions/internal/view/allsanctions" class="govuk-button govuk-button--secondary" role="button">View all detail</a>
   
                     
                     
                  </div>
              </form>
          </div>
          <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                <thead class="govuk-table__head govuk-body-s">
                  <tr class="govuk-table__row">        
                    <th class="govuk-table__header" aria-sort="none" scope="col">Licensee</th> 
                    <th class="govuk-table__header" aria-sort="none" scope="col">Account</th>                  
                    <th class="govuk-table__header" aria-sort="none" scope="col">Type</th>
                    <th class="govuk-table__header" aria-sort="none" scope="col">Sanction</th>
                    <th class="govuk-table__header  govuk-table__header--numeric" aria-sort="descending" scope="col">Decision date</th>  
                          
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                      {% for i in result.allSanctions.recordset %}
                  <tr class="govuk-table__row govuk-body-s">
                        
                      {%if i.remotestatus === 'Operator' %}
                    <td class="govuk-table__cell"><a href="/{{version}}/sanctions/internal/view/detail/{{i.AccountNo}}"><span class="govuk-!-font-weight-bold">{{i.account}}</span></a></td>
                    {% else %}
                    
                    <td class="govuk-table__cell"><a href="/{{version}}/sanctions/internal/view/detail/{{i.AccountNo}}"><span class="govuk-!-font-weight-bold">{{i.Applicantfirstname}} {{i.Applicantsurname}}</span></a></td>
                    {% endif %}  <td class="govuk-table__cell">{{i.AccountNo}}</td>
                    <td class="govuk-table__cell">{{i.remotestatus}}</td>
                    <td class="govuk-table__cell">{{i.status}}</td>
                    <td class="govuk-table__cell">{{i.decidedon | date('DD MMM YYYY')}}</td>   
                  </tr>
                
                 {% endfor %}
                </tbody>
              </table>
          </div>
        </div>



        
  

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archive">
      <div class="gc-pull-right"><a href="/public/sanctions.odt" class="govuk-button" role="button">Export all</a> <a href="/{{version}}/sanctions/internal/view/allarchivesanctions" class="govuk-button" role="button">View all detail</a></div>
   <h2 class="govuk-heading-m">Archive</h2>
   
    <p class="govuk-body">Same functionality as the live register - this will be the archive. It will automatically show records which are over 3 years old. </p>

  </section>
  
</div>
           
    </div>   
</div>



{% endblock %}