{% extends "layout_fullwidth-v2.html" %}
{% set data = result.registerData.recordset[0] %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}


{% block headerInfo %}
{% include "includes/beta.html" %}
{% endblock %}

{% block pageTitle %}

{{ data.Applicantfirstname }} {{ data.Applicantsurname }} - {{data.AccountNo }}
{% endblock %}

{% block beforeContent %}

<a href="/{{version}}/personal/results" class="govuk-back-link">Search the register</a>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
            {{ data.Applicantfirstname }} {{ data.Applicantsurname }}
        </h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                    Account number
                </h2>
                <p class="govuk-body"> {{data.AccountNo }}</p>

            </div>


            <div class="govuk-grid-two-thirds">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                    Location
                </h2>
                {% if data.towncity !== null %}
                <p class="govuk-body">{{data.towncity | capitalize}}</p>
                {% else %}
                <p class="govuk-body">Not available</p>

                {% endif %}
            </div>
        </div>




        <hr class="govuk-section-break govuk-section-break--visible gc-break govuk-!-margin-bottom-7">

    </div>

    <div class="govuk-grid-column-one-quarter">



        <nav class="app-subnav">

            <ul class="app-subnav__section">

                <li class="app-subnav__section-item  app-subnav__section-item--current">
                    <a class="app-subnav__link govuk-link"
                        href="/{{version}}/personal/detail/{{data.AccountNo}}">Licence summary</a>
                </li>

                <li class="app-subnav__section-item">
                    <span class="gc-pill">{{result.sanctions.recordset.length}}</span>
                    <a class="app-subnav__link govuk-link"
                        href="/{{version}}/personal/sanctions/{{data.AccountNo}}">Sanctions</a>
                </li>

                <li class="app-subnav__section-item">
                    <span class="gc-pill">{{result.notes.recordset.length}}</span>
                    <a class="app-subnav__link govuk-link"
                        href="/{{version}}/personal/settlements/{{data.AccountNo}}">Settlements</a>
                </li>

            </ul>

        </nav>


    </div>

    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m">
                    Licence summary
                </h2>

                {% for item in result.activities.recordset %}

                {% set product = item.Product | replace(' - N', '') | replace(' - R','')%}

                {% if product === 'PFL' %}

                <div class="gc-search-result">
                    <span class="govuk-tag {{item.DeterminationStatus | lower}} gc-pull-right">
                        {% if item.DeterminationStatus === 'Granted' %}
                        Active
                        {%else%}
                        {{item.DeterminationStatus}}
                        {%endif%}
                    </span>
                    <p class="govuk-body">
                        Personal functional licence
                    </p>
                    <details class="govuk-details  govuk-!-margin-bottom-0">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                What you can do with this licence
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">This licence allows you to carry out
                                activities
                                involving gaming or
                                handling cash in relation to gambling. Currently, we only
                                require
                                casino employees to
                                hold a Personal Functional Licence.</p>
                            <p class="govuk-body">Examples of employees who should have personal
                                functional licences
                                are: </p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>dealers/croupiers in respect of casino games </li>
                                <li>cashiers</li>
                                <li>inspectors</li>
                                <li>pit bosses/gaming supervisors</li>
                                <li>security staff/surveillance related to gambling activities.
                                </li>
                            </ul>

                        </div>
                    </details>

                </div>

                {% endif %}

                {% if product === 'PML' %}
                <div class="gc-search-result">
                    <span class="govuk-tag {{item.DeterminationStatus | lower}} gc-pull-right">
                        {% if item.DeterminationStatus === 'Granted' %}
                        Active
                        {%else%}
                        {{item.DeterminationStatus}}
                        {%endif%}
                    </span>
                    <p class="govuk-body">

                        Personal management licence



                        {% if result.activities.recordset.length > 1 %}

                        {% for activity in result.activities.recordset %}

                        {% if activity.Product === 'PML - N'%}
                        <br>- Non-remote
                        {% endif%}

                        {% if activity.Product === 'PML - R'%}
                        <br>- Remote
                        {% endif%}

                        {% endfor %}

                        {% else %}

                        {% if result.activities.recordset[0].Product === 'PML - N'%}
                        <br>- Non-remote
                        {% endif%}

                        {% if result.activities.recordset[0].Product === 'PML - R'%}
                        <br>- Remote
                        {% endif%}



                        {% endif %}

                    </p>

                    <details class="govuk-details  govuk-!-margin-bottom-0">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                What you can do with this licence
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">The licence allows the licensee to hold any of
                                the
                                following relevant
                                management positions: </p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>overall strategy and delivery of gambling operations</li>
                                <li>financial planning, control and budgeting</li>
                                <li>marketing and commercial development</li>
                                <li>regulatory compliance</li>
                                <li>gambling related IT provision and security</li>
                                <li>where there is a regional structure, regional or area
                                    managers
                                    to whom
                                    responsibility for gambling operations is delegated</li>
                                <li>the director or trustee responsible for a society lottery
                                </li>
                                <li>casino and bingo site managers.</li>
                            </ul>
                            <p class="govuk-body">
                                An individual who occupies more than one of these management
                                positions only needs to
                                hold one personal management licence (PML).
                            </p>
                            <p class="govuk-body">
                                A PML allows the licensee to work in the non-remote sector, the
                                remote sector or both.
                            </p>
                            <p class="govuk-body">
                                An individual who works in both non-remote and remote sectors
                                only
                                needs to hold one
                                PML. </p>


                        </div>
                    </details>

                </div>
                {% endif %}




                {% endfor %}


            </div>
        </div>
    </div>
</div>

{% endblock %}