{% extends "layout_fullwidth.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
  aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Public registers and datasets
{% endblock %}

{% block headerInfo %}
<section class="gc-product-page gc-product-page--header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-!-padding-bottom-2">
      <div class="gc-tag alpha-tag">ALPHA</div> This is new, <a href="/feedback" target="_Blank">give us
        feedback</a>.
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
      </div>
    </div>
    <!-- <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Parent</a>
        </li>

        <li class="govuk-breadcrumbs__list-item" aria-current="page">Service name</li>
      </ol>
    </div> -->


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l govuk-!-margin-top-6">Public registers</h1>
        <p class="govuk-body-l">The public registers provide information about businesses and individuals licensed by the Gambling Commission, regulatory actions, and premises licensed for gambling purposes.</p>


        <div class="gc-register-search">
            <form method="POST" action="/{{version}}/hub/results">
              <label for="search" class="govuk-label">
                <h2 class="govuk-heading-m  govuk-!-margin-bottom-3">
                  Search all the registers
                </h2>
              </label>
              <p class="govuk-body">Search by business or individual name, account number or address.</p>
              <div class="inner-form govuk-!-margin-bottom-3">
                <div class="input-field second-wrap">
                  <input id="search" name="search" type="text" placeholder="Search" required="required" />
                </div>
                <div class="input-field third-wrap">
                  <button class="btn-search" type="submit"><span class="govuk-visually-hidden">Search the
                      registers</span>
                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search"
                      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                      </path>
                    </svg>
                  </button>
                </div>
              </div>
            </form>
  
  
          </div>


      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds v2">

    <h2 class="govuk-heading-m">
      All registers
    </h2>
    <p class="govuk-body">Search, view and download information from specific registers.</p>


    <ul class="register-themes">
      <li class="register-theme"><a class="register-theme__link" href="/{{version}}/operator/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Gambling
            businesses</h3>
          <p class="register-theme__description govuk-body-s">Search or download information about gambling businesses
          </p>
          <p class="register-theme__count govuk-body-s">{{3354 | numeral("0,0") }} records</p>
        </a></li>
      <li class="register-theme"><a class="register-theme__link" href="/{{version}}/personal/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Personal
            licence holders</h3>
          <p class="register-theme__description govuk-body-s">Search or download information about licensed individuals
          </p>
          <p class="register-theme__count govuk-body-s">{{23940 | numeral("0,0") }} records</p>
        </a></li>  
        <li class="register-theme"><a class="register-theme__link" href="/{{version}}/premises/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Premises
          </h3>
          <p class="register-theme__description govuk-body-s">Search and view premises licensed for gambling activity</p>
          <p class="register-theme__count govuk-body-s">{{10972 | numeral("0,0") }} records</p>
        </a></li>
      <li class="register-theme"><a class="register-theme__link" href="/{{version}}/sanctions/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
            Regulatory actions</h3>
          <p class="register-theme__description govuk-body-s">Search or download details of regulatory actions</p>
          <p class="register-theme__count govuk-body-s">{{105 | numeral("0,0") }} records</p>
        </a></li>
    
    </ul>

    <!-- <h2 class="govuk-heading-m">
      Datasets
    </h2>

    <ul class="register-themes">
      <li class="register-theme"><a class="register-theme__link register-theme-secondary"
          href="/{{version}}/operator/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Annual
            gambling stats</h3>
          <p class="register-theme__description govuk-body-s">Dataset of gambling data
          </p>
          <p class="register-theme__count govuk-body-s">PDF</p>
        </a></li>
    </ul> -->
  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">

      <h2 class="govuk-heading-s" id="subsection-title">
        Related
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">

          <li><a class="govuk-link" href="#">How to complain about a gambling business</a></li>
          <li><a class="govuk-link" href="#">Safer gambling</a></li>
          <li><a class="govuk-link" href="#">Getting an operating licence</a></li>
          <li><a class="govuk-link" href="#">Getting a personal licence</a></li>
          <li><a class="govuk-link" href="#">Licence Conditions and Codes of Practice</a></li>
          
          <li><a class="govuk-link" href="#">Regulatory action</a></li>
        </ul>
      </nav>


      <h2 class="govuk-heading-s" id="other-subsection-title">
        News
      </h2>
      <nav role="navigation" aria-labelledby="other-subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">

          {% for i in news.items %}

          <li>
            <a class="govuk-link" href="/gc/news/story/{{ i.fields.slug }}">
              {{i.fields.newsTitle}}</a>
            <br>
            <p class="govuk-body-s gc-meta  govuk-!-margin-top-1">
              {{i.fields.publicationDate | date('DD MMMM YYYY')}}
            </p>
          </li>

          {% endfor %}

          <li>
            <a href="#" class="govuk-link govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">news</span>
            </a>
          </li>
        </ul>
      </nav>

    </aside>

  </div>

</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible gc-break govuk-!-margin-top-9">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Current features
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Search and download regulatory actions <span class="govuk-tag">new</span></li>
      <li>Search and download information on gambling operators</li>
      <li>Search and download information on licensed individuals</li>
      <li>Download the gambling premises dataset</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Planned features
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Additional information on businesses</li>
      <li>Companies house information</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    
      <h2 class="govuk-heading-m">
          Help and support
      </h2>
      <p class="govuk-body">If you or someone you know is struggling with gambling activity, you can find the details
          of <a
              href="https://www.gamblingcommission.gov.uk/for-the-public/Safer-gambling/Getting-help-to-control-your-gambling.aspx#Organisations_that_provide_help"
              target="_blank">organisations who can help</a> on our website.</p>
  </div>


</div>
{% endblock %}