{% extends "layout_fullwidth.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
  aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Public registers and datasets
{% endblock %}

{% block headerInfo %}
<section class="gc-product-page gc-product-page--header">
  <div class="govuk-header__container govuk-width-container">

    <!-- <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Parent</a>
        </li>

        <li class="govuk-breadcrumbs__list-item" aria-current="page">Service name</li>
      </ol>
    </div> -->


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l govuk-!-margin-top-6">Public registers and datasets</h1>
        <p class="govuk-body">We have made it easy to search and download information about licensed businesses,
          individuals and regulatory actions.</p>

        <p class="govuk-body">You can also download other published datasets provided by the Gambling Commission.</p>



      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Registers
    </h2>
    <p class="govuk-body">Search the registers for information or download for your own use.</p>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height gc-panel-card--noshadow">
      <a class="gc-panel-card__link-wrapper" href="/{{version}}/operator/summary">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Operator register</h3>
          <p class="gc-panel-card__description">Businesses who hold a licence to operate a gambling business</p>
        </div>
      </a>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height gc-panel-card--noshadow">
      <a class="gc-panel-card__link-wrapper" href="#">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Personal register</h3>
          <p class="gc-panel-card__description">Individuals who hold a personal licence to work in the gambling industry
          </p>
        </div>
      </a>
    </div>

  </div>



  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height gc-panel-card--noshadow">
      <a class="gc-panel-card__link-wrapper" href="#">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Sanctions register</h3>
          <p class="gc-panel-card__description">Regulatory actions taken by the Gambling Commission</p>
        </div>
      </a>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Published datasets
    </h2>
    <p class="govuk-body">You can't currently search these datasets, however you can download them for your own use.</p>
  </div>

</div>

<div class="govuk-grid-row">


  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height gc-panel-card--noshadow">
      <a class="gc-panel-card__link-wrapper" href="#">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Premises</h3>
          <p class="gc-panel-card__description">Download the premises register in CSV and ODS formats</p>
        </div>
      </a>
    </div>

  </div>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Current features
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Search and download regulatory actions <span class="govuk-tag">new</span></li>
      <li>Search and download gambling operators</li>
      <li>Search and download licensed individuals</li>
      <li>Download gambling premises dataset</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Planned features
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Additional information on licensees</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Useful information
    </h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link"
          href="http://www.gamblingcommission.gov.uk/news-action-and-statistics/Regulatory-action/Regulatory-action.aspx">Regulatory
          action</a></li>
    </ul>
  </div>

</div>
{% endblock %}