<ul class="register-themes">
    <li class="register-theme"><a class="register-theme__link" href="/category/crime-justice-and-law">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Crime,
                justice and law</h3>
            <p class="register-theme__description govuk-body-s">Includes prison estate</p>
            <p class="register-theme__count govuk-body-s">1 register</p>
        </a></li>
    <li class="register-theme"><a class="register-theme__link" href="/category/education-training-and-skills">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
                Education, training and skills</h3>
            <p class="register-theme__description govuk-body-s">Includes qualification subject areas and assessment
                methods</p>
            <p class="register-theme__count govuk-body-s">7 registers</p>
        </a></li>
    <li class="register-theme"><a class="register-theme__link" href="/category/environment">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
                Environment</h3>
            <p class="register-theme__description govuk-body-s">Includes internal drainage boards</p>
            <p class="register-theme__count govuk-body-s">1 register</p>
        </a></li>
    <li class="register-theme"><a class="register-theme__link" href="/category/geography">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
                Geography</h3>
            <p class="register-theme__description govuk-body-s">Includes countries, territories and statistical
                geography</p>
            <p class="register-theme__count govuk-body-s">12 registers</p>
        </a></li>
    <li class="register-theme"><a class="register-theme__link" href="/category/government">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
                Government</h3>
            <p class="register-theme__description govuk-body-s">Includes organisations, services and gov.uk domain names
            </p>
            <p class="register-theme__count govuk-body-s">8 registers</p>
        </a></li>
    <li class="register-theme"><a class="register-theme__link" href="/category/health-and-social-care">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Health
                and social care</h3>
            <p class="register-theme__description govuk-body-s">Includes allergens</p>
            <p class="register-theme__count govuk-body-s">2 registers</p>
        </a></li>
    <li class="register-theme"><a class="register-theme__link" href="/category/life-circumstances">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Life
                circumstances</h3>
            <p class="register-theme__description govuk-body-s">Includes registration districts</p>
            <p class="register-theme__count govuk-body-s">1 register</p>
        </a></li>
    <li class="register-theme"><a class="register-theme__link" href="/category/regional-and-local-government">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
                Regional and local government</h3>
            <p class="register-theme__description govuk-body-s">Includes local authorities</p>
            <p class="register-theme__count govuk-body-s">5 registers</p>
        </a></li>
    <li class="register-theme"><a class="register-theme__link" href="/category/work">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Work
            </h3>
            <p class="register-theme__description govuk-body-s">Includes jobcentres</p>
            <p class="register-theme__count govuk-body-s">3 registers</p>
        </a></li>
</ul>