{% extends "admin_layout_int.html" %}
{% extends "layout_fullwidth_internal.html" %}
{% block pageTitle %}
Registers Prototypes
{% endblock %}

{% block beforeContent %}
<a href="/{{version}}/sanctions/internal/dashboard" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

                <div class="gc-register-search gc-register-search--whitebg">
                    <form method="POST" action="results">
                        <label for="search" class="govuk-label">
                            <h1 class="govuk-heading-l  govuk-!-margin-bottom-3">
                                Search the sanctions and settlements register
                            </h1>
        
                        </label>
                        <span class="govuk-hint">
                                Search by name or account number
                        </span>
                        <div class="inner-form govuk-!-margin-bottom-3">
                            <div class="input-field second-wrap">
                                <input id="isearch" name="isearch" type="text" placeholder="Search"
                                    value="{{ data['isearch'] }}" />
                            </div>
                            <div class="input-field third-wrap">
                                <button class="btn-search" type="submit"><span class="govuk-visually-hidden">Search the
                                        register</span>
                                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                                        data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
        
        
                </div>
            </div>
    <div class="govuk-grid-column-full">
               
             
                <div class="govuk-tabs" data-module="tabs">
                    <h2 class="govuk-tabs__title">
                      Contents
                    </h2>
                  
                    <ul class="govuk-tabs__list">
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#live">
                         Sanctions (1)
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#archive">
                          Settlements (0)
                        </a>
                      </li>
                    </ul>
                  
                    <section class="govuk-tabs__panel" id="live">
                      
                    <div class="gc-search-result">

            <span class="govuk-!-font-weight-bold">Account 39470</span>


            <h2 class="govuk-heading-m">
              <a href="/{{version}}/sanctions/internal/view/detail/39470">Maxent Limited</a> 
            </h2>

            <ul class="gc-search-result--tag">

                <li>Operator </li>
                <li>Revoked </li>
                <li>21 May 2019</li>
            </ul>

        </div>
                    </section>
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archive">
                     
                    </section>
                    
                  </div>

        

     

      
     

    </div>
</div>



{% endblock %}