{% extends "layout_fullwidth.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Premises dataset
{% endblock %}




{% block headerInfo %}
<section class="gc-product-page gc-product-page--header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-!-padding-bottom-2">
            <div class="gc-tag alpha-tag">ALPHA</div> This is new, <a href="/feedback" target="_Blank">give us
                feedback</a>.
        </div>
        <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-2">
                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
                </div>
            </div>
    
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/{{version}}/hub">All registers</a>
                </li>
    
                <li class="govuk-breadcrumbs__list-item">
                    Premises
                </li>
            </ol>
    


        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-top-6">
                    Premises dataset
                </h1>

                <p class="govuk-body-l">
                    Dataset of premises licensed for gambling activity.
                </p>

            </div>
        </div>

       
    </div>
</section>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">
             Licensing of premises for gambling businesses is the responsibility of local licensing authorities, normally the Local Authority for the area where the business is located.
            </p>  
          
   
     
            </div>
  </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
                   
            <ul class="register-themes">
                    <li class="register-theme"><a class="register-theme__link" href="/public/prem.csv">
                               <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Download in CSV format</h3>
                               <p class="register-theme__description govuk-body-s">2.8mb</p>
                             
                           </a></li> 
                           <li class="register-theme"><a class="register-theme__link" href="/public/prem.ods">
                                <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Download in ODS format</h3>
                                <p class="register-theme__description govuk-body-s">962kb</p>
                              
                            </a></li> 
               </ul>
            
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">
            About the data
        </h2>

        <p class="govuk-body">Last updated: {{ date | date('DD MMMM YYYY')}}</p>

        <p class="govuk-body">There are <b>6 fields</b>
            in the dataset.</p>

        <div class="govuk-inset-text">
                For accurate premises information, you should contact the relevant Licensing Authority, as they maintain an accurate and up-to-date register for their local area.
           
        </div>

        Account_Number	Account_Name	Trading_Names	Applicant_Property_name	Applicant_Address21	Applicant_City	Applicant_Postcode	premises_Address1	premises_Address2	premises_City	premises_Postcode	StatusDate	Activity	Local_Authority_Name	LicenceStatus


        <table class="registers-secondary-table">
            <caption class="registers-secondary-table__caption">
                <p class="govuk-body">The <b>6 fields</b> in this register</p>
            </caption>
            <thead class="registers-secondary-table__head">
                <tr class="registers-secondary-table__row">
                    <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Field name</p>
                    </th>
                    <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Field description</p>
                    </th>
                </tr>
            </thead>
            <tbody class="registers-secondary-table__body">
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Account_Number</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">.</p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Trading names</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The trading names the operator trades under. This is only applicable to operator accounts. </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Licence type</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The type of licence the holder operates under.</p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Decison</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The action taken by the Gambling Commission against the licence holder.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Date of decision</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The date the action was taken. This is written in DD MMMM YYYY format, for example 23 July 2018.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Details of decision</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Details of regulatory action imposed on
                            the licence holder by the Gambling Commission.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>


</div>

{% endblock %}