{% extends "layout_fullwidth.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
  aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Public registers - Gambling Commission
{% endblock %}

{% block headerInfo %}
<section class="gc-product-page gc-product-page--header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-!-padding-bottom-2">
            <div class="gc-tag alpha-tag">ALPHA</div> This is new, <a href="/feedback" target="_Blank">give us
                feedback</a>.
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            </div>
        </div>
    <!-- <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Parent</a>
        </li>

        <li class="govuk-breadcrumbs__list-item" aria-current="page">Service name</li>
      </ol>
    </div> -->


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l govuk-!-margin-top-6">Public registers and datasets</h1>
        <p class="govuk-body-l">We have made it easy to search and download information about licensed gambling businesses,
          individuals and regulatory actions.</p>

        <p class="govuk-body-l">You can also download other published datasets provided by the Gambling Commission.</p>



      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Registers
    </h2>
    <p class="govuk-body">Search the registers for information or download for your own use.</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <ul class="register-themes">
      <li class="register-theme"><a class="register-theme__link" href="/{{version}}/operator/summary">
              <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Gambling businesses</h3>
              <p class="register-theme__description govuk-body-s">Search or download information about gambling businesses</p>
              <p class="register-theme__count govuk-body-s">{{countOL | numeral("0,0") }} records</p>
          </a></li>
          <li class="register-theme"><a class="register-theme__link" href="/{{version}}/personal/summary">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Personal license holders</h3>
            <p class="register-theme__description govuk-body-s">Search or download information about licensed individuals</p>
            <p class="register-theme__count govuk-body-s">{{countPL | numeral("0,0") }} records</p>
        </a></li>
        <li class="register-theme"><a class="register-theme__link" href="/{{version}}/sanctions/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Regulatory actions</h3>
          <p class="register-theme__description govuk-body-s">Search or download details of regulatory sanctions and actions</p>
          <p class="register-theme__count govuk-body-s">count</p>
      </a></li>
          </ul>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Published datasets
    </h2>
    <p class="govuk-body">You can't currently search these datasets online, however you can download them for your own use.</p>
  </div>

</div>

<div class="govuk-grid-row">


  <div class="govuk-grid-column-full">



    <ul class="register-themes">
      <li class="register-theme"><a class="register-theme__link" href="/{{version}}/operator/summary">
              <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Premises</h3>
              <p class="register-theme__description govuk-body-s">Download the premises register in CSV and ODS format</p>
          </a></li>
          
          </ul>

  </div>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Current features
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Search and download regulatory sanctions and actions <span class="govuk-tag">new</span></li>
      <li>Search and download gambling operators</li>
      <li>Search and download licensed individuals</li>
      <li>Download gambling premises dataset</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Planned features
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Additional information on businesses</li>
      <li>Companies house information</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Useful information
    </h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link"
          href="http://www.gamblingcommission.gov.uk/news-action-and-statistics/Regulatory-action/Regulatory-action.aspx">Regulatory
          action</a></li>
    </ul>
  </div>

  
  <div class="govuk-grid-column-full">  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h3 class="govuk-heading-m">
      Help us make this service better
    </h3>
   <p class="govuk-body"><a href="/feedback" target="_Blank">Give us feedback</a> about this service, it takes just 1 minute.</p>
  </div>

</div>
{% endblock %}