{% extends "layout_fullwidth.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
  aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Public registers and datasets
{% endblock %}

{% block headerInfo %}
<section class="gc-product-page gc-product-page--header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-!-padding-bottom-2">
            <div class="gc-tag alpha-tag">ALPHA</div> This is new, <a href="/feedback" target="_Blank">give us
                feedback</a>.
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            </div>
        </div>
    <!-- <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Parent</a>
        </li>

        <li class="govuk-breadcrumbs__list-item" aria-current="page">Service name</li>
      </ol>
    </div> -->


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l govuk-!-margin-top-6 ">Public registers and datasets</h1>
        <p class="govuk-body-l">Find information about gambling operators and individuals licensed by the Gambling
          Commission.</p>

        <div class="gc-register-search">
          <form method="POST" action="/{{version}}/hub/results">
            <label for="search" class="govuk-label">
              <h2 class="govuk-heading-m  govuk-!-margin-bottom-3">
                Search the registers
              </h2>
            </label>
            <p class="govuk-body">Search by operator name, trading name, licence number or individual name.</p>
            <div class="inner-form govuk-!-margin-bottom-3">
              <div class="input-field second-wrap">
                <input id="search" name="search" type="text" placeholder="Search" required="required" />
              </div>
              <div class="input-field third-wrap">
                <button class="btn-search" type="submit"><span class="govuk-visually-hidden">Search the
                    register</span>
                  <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search"
                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
          </form>


        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Registers
    </h2>
    <p class="govuk-body">Search the individual registers for information or download for your own use.</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">




    <ul class="register-themes">
      <li class="register-theme"><a class="register-theme__link" href="/{{version}}/operator/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Operator
            licences</h3>
          <p class="register-theme__description govuk-body-s">Search or download information about gambling businesses
          </p>
          <p class="register-theme__count govuk-body-s">{{3354 | numeral("0,0") }} records</p>
        </a></li>
      <li class="register-theme"><a class="register-theme__link" href="/{{version}}/personal/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Personal
            licences</h3>
          <p class="register-theme__description govuk-body-s">Search or download information about licensed individuals
          </p>
          <p class="register-theme__count govuk-body-s">{{23940 | numeral("0,0") }} records</p>
        </a></li>
      <li class="register-theme"><a class="register-theme__link" href="/{{version}}/sanctions/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
            Regulatory actions</h3>
          <p class="register-theme__description govuk-body-s">Search or download details of regulatory sanctions and
            actions</p>
          <p class="register-theme__count govuk-body-s">{{countActions | numeral("0,0") }} records</p>
        </a></li>
    </ul>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Published datasets
    </h2>
    <p class="govuk-body">You can't currently search these datasets online, however you can download them for your own use.</p>
  </div>

</div>

<div class="govuk-grid-row">


  <div class="govuk-grid-column-full">



    <ul class="register-themes">
      <li class="register-theme"><a class="register-theme__link" href="/{{version}}/premises/summary">
          <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">Premises
          </h3>
          <p class="register-theme__description govuk-body-s">Download the premises dataset in CSV and ODS format</p>
        </a></li>

    </ul>

  </div>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Current features
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Search and download regulatory sanctions and actions <span class="govuk-tag">new</span></li>
      <li>Search and download gambling operators</li>
      <li>Search and download licensed individuals</li>
      <li>Download gambling premises dataset</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Planned features
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Additional information on licensees</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      Useful information
    </h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link"
          href="http://www.gamblingcommission.gov.uk/news-action-and-statistics/Regulatory-action/Regulatory-action.aspx">Regulatory
          action</a></li>
    </ul>
  </div>



</div>
{% endblock %}