<!-- {% extends "admin_layout_int.html" %} -->
{% extends "layout_fullwidth_internal.html" %}
{% block pageTitle %}
When should this be published?
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="POST">

            <h1 class="govuk-heading-l">Check your answers before continuing </h1>



            <button type="submit" class="govuk-button">
                Create sanction
            </button>


        </form>



    </div>
</div>





{% endblock %}