<!-- {% extends "admin_layout_int.html" %} -->
{% extends "layout_fullwidth_internal.html" %}
{% block pageTitle %}
Date of the decision
{% endblock %}
{% block beforeContent %}
<a href="/{{version}}/sanctions/internal/add/licenseelist" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <form method="POST">
        

            <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="decision-hint" role="group">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <span class="govuk-caption-l">Regulatory {{data['reg-type'] | lower }}</span>
                            <h1 class="govuk-heading-l">Date published</h1>
                      </legend>
                      <span id="decision-hint" class="govuk-hint">
                        For example, {{date | date('DD MM YYYY')}}
                      </span>
                      <div class="govuk-date-input" id="decision">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="decision-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" value="{{data['decision-day']}}" id="decision-day" name="decision-day" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="decision-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" value="{{data['decision-month']}}" id="decision-month" name="decision-month" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="decision-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" value="{{data['decision-year']}}" id="decision-year" name="decision-year" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>

            <button type="submit" class="govuk-button">
                Save and continue
            </button>


        </form>



    </div>
</div>





{% endblock %}