<!-- {% extends "admin_layout_int.html" %} -->
{% extends "layout_fullwidth_internal.html" %}
{% block pageTitle %}
Are there any financial settlements being made?
{% endblock %}

{% block beforeContent %}
<a href="/{{version}}/sanctions/internal/add/details" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form method="POST">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="financial-settlement-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Regulatory {{data['reg-type'] | lower }}</span>
                    <h1 class="govuk-fieldset__heading">
                      Are there any financial settlements being made?
                    </h1>
                  </legend>
                  <span id="financial-settlement-hint" class="govuk-hint">
                   
                  </span>
                  <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="financial-settlement-1" name="financial-settlement" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="financial-settlement-1">
                        Yes
                      </label> </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="financial-settlement-2" name="financial-settlement" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="financial-settlement-2">
                        No
                      </label> </div>
                  </div>
                </fieldset>
              </div>
           

            <button type="submit" class="govuk-button">
                Save and continue
            </button>


        </form>



    </div>
</div>



{% endblock %}