<!-- {% extends "admin_layout_int.html" %} -->
{% extends "layout_fullwidth_internal.html" %}
{% block pageTitle %}
Are there any financial settlements being made?
{% endblock %}

{% block beforeContent %}
<a href="/{{version}}/sanctions/internal/add/settlement-add" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="POST">

                <span class="govuk-caption-l">Regulatory {{data['reg-type'] | lower }}</span>
                <h1 class="govuk-heading-l">Financial settlement details</h1>

            <div class="govuk-form-group">
                <label class="govuk-label" for="amount">
                    Amount
                </label>
                <span class="govuk-hint">For example 1500000 for 1.5 million</span>
                <div id="amount-currency" class="govuk-visually-hidden">in pounds</div>
                <div class="gc-currency-input">
                    <div class="gc-currency-input__symbol" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-10" id="amount" name="amount" type="text"
                        aria-describedby="amount-currency " pattern="[0-9]*">
                </div>

            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="settlement-detail">
                    Details
                </label>

                <textarea class="govuk-textarea editor" id="settlement-detail" name="settlement-detail" rows="2"
                    aria-describedby="settlement-detail-hint"></textarea>
            </div>


            <button data-module="govuk-button"  type="submit" class="govuk-button">
                Save and continue
            </button>


        </form>



    </div>
</div>



{% endblock %}