<!-- {% extends "admin_layout_int.html" %} -->
{% extends "layout_fullwidth_internal.html" %}
{% block pageTitle %}
Are there any financial settlements being made?
{% endblock %}

{% block beforeContent %}
<a href="/{{version}}/sanctions/internal/add/financial" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-l">Regulatory {{data['reg-type'] | lower }}</span>
        <h1 class="govuk-heading-l">Add a settlement</h1>

        <form method="POST">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            Outcome
                        </p>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="financial-settlement-outcome-1"
                                name="financial-settlement-outcome" type="radio" value="divestment">
                            <label class="govuk-label govuk-radios__label" for="financial-settlement-outcome-1">
                                Divestment
                            </label> </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="financial-settlement-outcome-2"
                                name="financial-settlement-outcome" type="radio" value="lieu">
                            <label class="govuk-label govuk-radios__label" for="financial-settlement-outcome-2">
                                Payment in lieu of penalty
                            </label> </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="financial-settlement-outcome-3"
                                name="financial-settlement-outcome" type="radio" value="x">
                            <label class="govuk-label govuk-radios__label" for="financial-settlement-outcome-3">
                                ...
                            </label> </div>
                    </div>
                </fieldset>
            </div>


            <div class="govuk-form-group">
                    <label class="govuk-label" for="amount">
                   Amount
                    </label>
                    
                    <div id="amount-currency" class="govuk-visually-hidden">in pounds</div>
                    <div class="gc-currency-input">
                    <div class="gc-currency-input__symbol" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-10" id="amount" name="amount" type="text" aria-describedby="amount-currency " pattern="[0-9]*">
                    </div>
                    
                    </div>

<div class="govuk-form-group">
        <label class="govuk-label" for="settlement-detail">
          Details
        </label>
        
        <textarea class="govuk-textarea" id="settlement-detail" name="settlement-detail" rows="2" aria-describedby="settlement-detail-hint"></textarea>
      </div>


            <button type="submit" class="govuk-button">
                Add to list
            </button>


        </form>



    </div>
</div>



{% endblock %}