<!-- {% extends "admin_layout_int.html" %} -->
{% extends "layout_fullwidth_internal.html" %}
{% block pageTitle %}
What do you want to create?
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="POST">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="reg-type-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Register</span>
                        <h1 class="govuk-fieldset__heading">
                            What do you want to create?
                        </h1>
                    </legend>
                    <span id="reg-type-hint" class="govuk-hint">

                    </span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="reg-type-1" name="reg-type" type="radio"
                                value="Sanction">
                            <label class="govuk-label govuk-radios__label" for="reg-type-1">
                                Sanction
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="reg-type-2" name="reg-type" type="radio"
                                value="Action">
                            <label class="govuk-label govuk-radios__label" for="reg-type-2">
                                Action
                            </label>
                        </div>                      

                    </div>
                </fieldset>

            </div>

            <button type="submit" class="govuk-button">
                Save and continue
            </button>


        </form>



    </div>
</div>



{% endblock %}