{% extends "layout_fullwidth-v2.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Search the operator register
{% endblock %}

{% block headerInfo %}
{% include "includes/beta.html" %}
{% endblock %}


{% block beforeContent %}

<a href="/{{version}}/premises/summary" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <div class="gc-register-search gc-register-search--whitebg">
            <form method="POST" action="search">
                <label for="search" class="govuk-label">
                    <h1 class="govuk-heading-l  govuk-!-margin-bottom-3">
                        Search the gambling premises register
                    </h1>

                </label>
                <span class="govuk-hint">
                    Search by business name, account number, street, town or postcode
                </span>
                <div class="inner-form govuk-!-margin-bottom-3">
                    <div class="input-field second-wrap">
                        <input id="search" name="searchp" type="text" placeholder="Search"
                            value="{{ data['searchp'] }}" />
                    </div>
                    <div class="input-field third-wrap">
                        <button class="btn-search" type="submit"><span class="govuk-visually-hidden">Search the
                                register</span>
                            <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                                data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </div>

</div>

<div class="govuk-grid-row">
    {% if list.premises.recordset.length > 0 %}
    <div class="govuk-grid-column-one-third">


        <form method="POST" action="search">


                <details class="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                           Filter the results
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                   


            <div class="gc-filters">

                <h2 class="govuk-heading-m">Filters</h2>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        Operated by
                    </label>
                    <select class="govuk-select  govuk-!-width-full" id="sort" name="sort">

                        <option value="all">View all</option>

                        {% for account, i in list.premises.recordset |sort(false, true, 'Account') | groupby('Account') %}
                        <option value="{{account}}">{{account | truncate(30)}}</option>
                        {% endfor %}



                    </select>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        Licensing Authority
                    </label>
                    <select class="govuk-select  govuk-!-width-full" id="sort" name="authority">

                        <option value="all">View all</option>

                        {% for authority, i in list.premises.recordset |sort(false, true, 'localauthority') | groupby('localauthority') %}
                        <option value="{{authority}}">{{authority | truncate(30)}}</option>
                        {% endfor %}



                    </select>
                </div>


                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">
                                Type
                            </h3>
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small">


                            
                            {% set ord = 0 %}

                           

                            {% for activity, i in list.premises.recordset |sort(false, true, 'activity') | groupby('activity') %}

                            <div class="govuk-checkboxes__item"> <span class="gc-pill gc-pull-right">{{i.length | numeral("0,0") }}</span>
                                <input class="govuk-checkboxes__input" id="activity-{{ord}}" name="activity"
                                    type="checkbox" value="{{activity}}">   
                                <label class="govuk-label govuk-checkboxes__label" for="activity-{{ord}}">
                                    
                                    {{activity | truncate(20)}} 
                                </label> </div>

                            {% set ord = (ord + 1) %}
                     
                            {% endfor %}


                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button">
                    Apply filters
                </button>


            </div>

        </div>
    </details>
        </form>
    </div>

    {% endif %}
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Results</h2>

        {% if list.premises.recordset.length === 0 %}
        <p>Nothing found for term <span class="govuk-!-font-weight-bold">{{data['searchp']}}</span></p>
        {% else %}
        <p class="govuk-body govuk-!-margin-bottom-2">
            <span class="govuk-!-font-weight-bold">{{list.premises.recordset.length | numeral("0,0") }}</span>
            results found for the search <span class="govuk-!-font-weight-bold">{{data['searchp']}}</span></p>
        <hr class="govuk-section-break govuk-!-margin-bottom-4 govuk-!-margin-top-1 govuk-section-break--visible">

        {% for i in list.premises.recordset %}


        <div class="gc-search-result">


            <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a
                    href="/{{version}}/premises/detail/{{i.id}}"   ga-on="click" ga-event-category="PremSearch" ga-event-action="Click" ga-event-label="{{ loop.index }}¬{{ loop.length }}¬{{i.id}}¬{{data['searchp']}}">{{i.addressline1 | title}}</a></h3>

            <p class="govuk-body-s">
                {{i.addressline2 if i.addressline2 | title else ""}}, {{i.city | title}}, {{i.postcode | upper}}
            </p>

            <div class="govuk-tag">{{i.activity}}</div>

            <div class="govuk-grid-row govuk-!-margin-top-4">
                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-1">
                    <h3 class="govuk-heading-s   govuk-!-margin-bottom-1">Operated by</h3>
                    <p class="govuk-body-s govuk-!-margin-bottom-1"> {{i.Account}}</p>
                </div>
                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-1">
                    <h3 class="govuk-heading-s  govuk-!-margin-bottom-1">Licensed by</h3>
                    <p class="govuk-body-s govuk-!-margin-bottom-1"> {{i.localauthority }}</p>
                </div>
            </div>


        </div>


        {% endfor %}
        {% endif %}

    </div>

</div>

{% endblock %}