{% extends "layout_fullwidth-v2.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Premises dataset
{% endblock %}




{% block headerInfo %}
<section class="gc-product-page gc-product-page--header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-!-padding-bottom-2">
            <div class="gc-tag alpha-tag">ALPHA</div> This is new, <a href="/feedback" class="govuk-link"  target="_Blank">give us
                feedback</a>.
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-padding-bottom-2">
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

            </div>
        </div>

        <a href="/{{version}}/hub" class="govuk-back-link">Back</a>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-top-6">
                    Register of premises licensed for gambling
                </h1>

            </div>
        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <div class="gc-register-search">
                    <form method="GET" action="search">
                        <label for="search" class="govuk-label">
                            <p id="search-hint" class="govuk-body">
                            Search by business name, account number, street, town or postcode
                        </p>
                        </label>
                       
                        <div class="inner-form govuk-!-margin-bottom-3">
                            <div class="input-field second-wrap">
                                <input id="search" name="searchp" type="text" placeholder="Search" />
                            </div>
                            <div class="input-field third-wrap">
                                <button class="btn-search" type="submit"><span class="govuk-visually-hidden">Search the
                                        register</span>
                                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                                        data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

            <div class="govuk-grid-column-one-third">


            </div>

        </div>


    </div>
</section>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <ul class="register-themes">
            <li class="register-theme"><a class="register-theme__link" href="/{{version}}/premises/search">
                       <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">View the full register</h3>
                       <p class="register-theme__description govuk-body-s">View all the entries in the register</p>
                      <p class="register-theme__count govuk-body-s">{{10972 | numeral("0,0") }} records</p>
                   </a></li> 
                  
       </ul>

       <h2 class="govuk-heading-m">
            Download the data
         </h2>

         <p class="govuk-body">Download the register in full if you want to do more complex searches or work with the full data set.</p>

 
        <ul class="register-themes">
            <li class="register-theme"><a class="register-theme__link" href="/public/prem.csv">
                    <h3
                        class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
                        Download in CSV format</h3>
                    <p class="register-theme__description govuk-body-s">2.8mb</p>

                </a></li>
            <li class="register-theme"><a class="register-theme__link" href="/public/prem.ods">
                    <h3
                        class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
                        Download in ODS format</h3>
                    <p class="register-theme__description govuk-body-s">962kb</p>

                </a></li>
                <li class="register-theme"><a class="register-theme__link" href="/{{version}}/premises/api">
                    <h3
                        class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1">
                        API</h3>
                    <p class="register-theme__description govuk-body-s">Use the API to get the data in JSON format.</p>
                </a></li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">
            About the data
        </h2>

        <p class="govuk-body">Last updated: {{ date | date('DD MMMM YYYY')}}</p>


        <p class="govuk-body">There are <span class="govuk-!-font-weight-bold">{{10972 | numeral("0,0") }}</span>
            records and <b>15 fields</b>
            in this register.</p>

        <div class="govuk-inset-text">
            For accurate premises information, you should contact the relevant Licensing Authority, as they maintain an
            accurate and up-to-date register for their local area.

        </div>

        <table class="registers-secondary-table">
            <caption class="registers-secondary-table__caption">
                <p class="govuk-body">The <b>15 fields</b> in this register</p>
            </caption>
            <thead class="registers-secondary-table__head">
                <tr class="registers-secondary-table__row">
                    <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Field name</p>
                    </th>
                    <th class="registers-secondary-table__header govuk-!-padding-0" scope="col">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">Field description</p>
                    </th>
                </tr>
            </thead>
            <tbody class="registers-secondary-table__body">
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Account_Number</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The unique reference for the licence
                            holder.</p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Account_Name</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The name of the licence holder.</p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Trading Names</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The trading names the licence holder trades
                            under. This is only applicable to operator accounts.</p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Applicant_Property_name</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The name of the property the Operator
                            operates the business from.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Applicant_Address1</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The first line of the Operator's address.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Applicant_City</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The city the Operator is based in.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Applicant_Postcode</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The postcode of the address the Operator is
                            based in.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>premises_Address1</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The first line of the licensed premises
                            address.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>premises_Address2</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The second line of the licensed premises
                            address.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>premises_City</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The city the licensed premises address is
                            in.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>premises_Postcode</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The postcode of the licensed premises
                            address.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>StatusDate</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The date associated with the current status
                            of the licence.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Activity</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The type of activity associated with the
                            premises.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>Local_Authority_Name</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The licensing authority responsible for
                            issuing the licence.
                        </p>
                    </td>
                </tr>
                <tr class="registers-secondary-table__row">
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3"><b>LicenceStatus</b></p>
                    </td>
                    <td class="govuk-!-padding-0 registers-secondary-table__cell">
                        <p class="govuk-!-margin-bottom-0 govuk-!-padding-3">The status of the licence associated with
                            the premises.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>


</div>

{% endblock %}