{% extends "admin_template.html" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"    import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"    import govukDateInput %}
{% from "govuk/components/details/macro.njk"       import govukDetails %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"   import govukFileUpload %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/label/macro.njk"         import govukLabel %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"     import govukSkipLink %}
{% from "govuk/components/table/macro.njk"         import govukTable %}
{% from "govuk/components/tag/macro.njk"           import govukTag %}
{% from "govuk/components/textarea/macro.njk"      import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"  import govukWarningText %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
<p>{{cookieText | safe }}</p>
{% endblock %}

{% block body_classes %}
body-admin js-enabled
{% endblock %}


{% block header_class %}
with-proposition
{% endblock %}

{% block page_layout %}


<nav class="side-nav dft-sidebar disable-side-bar-{{disableSidebar}}">
  <ul>

    <li class="side-nav__item {{ home_class }}">
      <a href="/">Registers prototypes</a>
    </li>

    <li class="side-nav__item {{ changelog_class }}">
      <a href="/core/changelog">Changelog</a>
    </li>

    <li class="side-nav__item {{ research_class }}">
      <a href="/core/research">User research</a>
    </li>

  </ul>


</nav>


<div class="main-container {{enforcerClass}}">

  <main role="main" id="adminContent" class="govuk-main-wrapper">


    {% block back_link %}{% endblock %}
    <div class="content-wrapper">
      {% if title %}
      <header class="admin-page-header">
        {% block page_header %}{% endblock %}
      </header>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </main>
</div>

{% endblock %}



{% block body_end %}
{% block scripts %}
{% include "includes/scripts.html" %}
{% block pageScripts %}{% endblock %}
{% endblock %}
{% endblock %}