{% extends "admin_layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Registers documentation</h1>

    <p class="govuk-body">Documentation and information about the registers prototypes</p>

    <h1 class="govuk-heading-m">Changelog</h1>

    <details data-module="govuk-details"  class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration 1
          </span>
        </summary>
        <div class="govuk-details__text">
         <span class="govuk-body govuk-!-font-weight-bold">Goal</span>
         <p class="govuk-body">Details of the goal of this iteration</p>
         <span class="govuk-body govuk-!-font-weight-bold">What changed</span>
         <p class="govuk-body">Details of what changed, usually a bullet list</p>
         <span class="govuk-body govuk-!-font-weight-bold">Why it changed</span>
         <p class="govuk-body">Details of what drove the change</p>
        </div>
      </details>

  </div>
</div>

{% endblock %}