{% extends "layout_fullwidth-v2.html" %}

{% block headerContent %}

<button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation"
    aria-label="Show or hide Top Level Navigation">Menu</button>
{% include "includes/nav.html" %}

{% endblock %}

{% block pageTitle %}
Public registers - Gambling Commission
{% endblock %}

{% block headerInfo %}
<section class="gc-product-page gc-product-page--header">
    <div class="govuk-header__container govuk-width-container">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l govuk-!-margin-top-6 ">Report issue</h1>
                <p class="govuk-body">Reporting issues helps us to improve the service.</p>


            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <form method="POST">
            <div class="govuk-form-group">
                <label class="govuk-label" for="moredetail">
                    What is your issue?
                </label>
                <textarea class="govuk-textarea" id="moredetail" name="moredetail" rows="5"
                    aria-describedby="moredetail"></textarea>
            </div>

            <h2 class="govuk-heading-m">Do you want a response?</h2>
            <p class="govuk-body">Give us your name and email address and we'll get back in touch with you.</p>
            <div class="govuk-form-group">
                <label class="govuk-label" for="name">
                    Name
                </label>
                <input class="govuk-input" id="name" name="name" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <input class="govuk-input" id="email" name="email" type="text">
            </div>

            <button type="submit" class="govuk-button">
                    Report issue
                  </button>
        </form>


    </div>

</div>



{% endblock %}